# Arquivos de compilação do Eclipse
.classpath
.project
.settings/

# Arquivos do diretório de build
/bin/
/target/

# Ignorar arquivos .class
*.class

# Arquivos temporários do Eclipse
*.log
*.bak
*.swp

# Arquivos gerados pelo Eclipse (se usar Maven, Gradle ou outros)
*.iml
*.idea/

# Arquivos do Maven
/.mvn/
mvnw
mvnw.cmd

# Arquivos do Gradle
.gradle/
build/

# Arquivos de configuração do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de dependências locais (caso esteja usando o Maven ou Gradle)
.idea/

# Arquivos de dependência do Gradle
.gradle/

# Arquivos de build de IDEs (caso utilize IntelliJ ou outros IDEs além do Eclipse)
.idea/
.vscode/

# Arquivos específicos do Eclipse para configurações de workspace
/.metadata/